* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto" , sans-serif;
}
a {
  text-decoration: none;
  color : #fff;
}
section {
  padding: 10rem 0;
  background-color: #fff;
}
body{
  overflow-x: hidden;
}
.heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
  font-family: 'Catamaran', sans-serif;
}
.heading::after {
  content: "";
  width: 20rem;
  height: .8rem;
  background-color: #45e19f;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}
.card_wrapper{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.card {
  width: 32rem;
  background-color: #ebeef8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2)

}
.card .card-img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 71%, 0 97%);
}
.profile-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -11rem;
  z-index: 1;
  border: 1rem solid #ebeef8;

}

.card h1{
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem 0;
  font-family: 'Catamaran', sans-serif;
}
.job-title {
  color: #777;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
}
.about {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  padding: 0 10px;
  text-align: center;
  color: #333;
  font-family: 'Nunito', sans-serif;
}
.card .butn {
  padding: 1rem 2.5rem;
  background-color: #45e19f;
  border-radius: 5px;
  text-transform: uppercase;
  color: #eee;
  font-size: 1.4rem;
  transition: all .5s;
}
.card .butn:hover{
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}
.card .butn:active{
  transform: translateY(0);
  box-shadow: none;
}
.social_media{
  width: 100%;
  list-style: none;
  display: flex;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0,0,0,.1);
  justify-content: space-evenly;
}
.social_media i {
  font-size: 3rem;
  transition: color .5s;
}

.fa-facebook-square{
  color: #3b5999 ;
}
.fa-twitter-square{
  color: #55acee ;
}
.fa-instagram{
  color: #e6683c ;
}
.fa-google-plus-square{
  color: #dd4b39 ;
}


.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover{

  color: #45e19f;
}

@media screen and (min-width: 700px) {

  .card_wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  .card {
    margin: 2rem;
    transition-property: transform;
    transition-duration: .5s;
  }

  @keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
  }

  .card:nth-child(1){
    animation-name: fadeIn;
    animation-duration : .5s;
    animation-direction :normal;
     animation-fill-mode: backwards;
  }
  .card:nth-child(2){
    animation-name: fadeIn;
    animation-duration : .5s;
    animation-delay: .5s;
    animation-direction :normal;
     animation-fill-mode: backwards;
  }
  .card:nth-child(3){
    animation-name: fadeIn;
    animation-duration : .5s ;
    animation-delay: 1s;
    animation-direction :normal;
     animation-fill-mode: backwards;
  }
  .card:nth-child(4){
    animation-name: fadeIn;
    animation-duration : .5s;
    animation-delay: 1.5s;
    animation-direction :normal;
     animation-fill-mode: backwards;
  }

  .card:hover{
    transform: scale(1.05);
  }
}
